input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.screen {
  -moz-appearance: textfield;
  /* appearance: textfield; */
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border-bottom: 0.5px solid black;
  width: 26rem;
  outline: 0;
  padding: 0.5rem;
}

.screen:focus {
  border: 0.5px solid greenyellow;
}

/* .screen::placeholder{
    color: red;
    font-weight: 600;
} */

/*ADICIONAR NOVOS ELEMENTOS HTMLLLL */
.verificarFeriados {
  display: flex;
  align-items: center;
}

.verificarFeriados h4 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 900;
  border-bottom: 1px solid greenyellow;
}

.add-feriado {
  height: 2rem;
  cursor: pointer;
}

.container-feriados {
  display: flex;
  padding: 0.5rem 0 0 0.5rem;
  flex-direction: column;
  justify-items: center;
  height: 4rem;
}

#QntFeriado {
  margin: 0.5rem 0.5rem 0rem 0rem;

  align-items: center;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
}

#QntFeriado p {
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

#QntFeriado h5 {
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-bottom: 16px;
  color: rgb(30 29 33);
  font-family: revert;
}


#QntFeriado p:nth-child(4) {
  color: rgb(0 0 0 / 81%);
  display: flex;
  text-align: center;
  /* opacity: 0.5; */
  margin-top: 1rem;
  font-family: monospace;
  margin-top: 2rem;
  /* border-bottom: 1px solid gray; */
}

#QntFeriado.Open {
  opacity: 1;
  visibility: visible;
  transition: 2s;
  padding: 0.5rem 0.5rem 1rem;
  position: relative;
  top: 21rem;
}

.addColor {
  color: red;
  font-size: 34px;
}
