.menu {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

label {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.hamburguer {
  position: relative;
  display: block;
  background: white;
  width: 2rem;
  height: 2px;
  top: 14px;
  left: 5px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: white;
  content: "";
  display: block;
  width: 2rem;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

#menu-hamburguer {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}
input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

